[submodule "模块/GenshinAPI"]
	path = 模块/GenshinAPI
	url = https://github.com/molehzy/GenshinAPI
[submodule "模块/go-cqhttp-e"]
	path = 模块/go-cqhttp-e
	url = https://github.com/molehzy/go-cqhttp-e
[submodule "模块/Text-table"]
	path = 模块/Text-table
	url = https://github.com/molehzy/Text-table
